// color
$bg_narbar: #0747a6;
$navbar_width: 64px;

$bg_menu_bar: #f4f5f7;
$title_color: #43536f;

// text color
$light-color: white;
$dark-text-color: black;
$gray-text-color: #0f0d0d;
$green-text-color: #1ED90E;
$sub-title-color: #CBC9C9;
$login-text-color: rgba(0, 0, 0, 0.6);
$link-color:#152AEB;
$face-book: #1877F2;
$login: #6200EE;
$size: linear-gradient(90deg, rgba(97,129,243,1) 100%, rgba(124,151,245,1) 100%);
// border color
$form-border-color: #AE18E2;

$hover-bg: rgba(0, 0, 0, 0.8);
$hover-bg: rgba(0, 0, 0, 0.8);

// font weight
$thin :100;
$light :300;
$regular :400;
$mediumW: 500;
$semiBold :600;
$bold :900;

// Font size

$xxsmall: 16px;
$xsmall: 18px;
$small: 20px;
$medium: 24px;
$large: 29px;
$midlarge: 40px;
$xlarge: 48px;

@mixin collapsed-btn(){
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    border: none;
    background-color: $bg_narbar;
    color: $light-color;
    position: absolute;
    right: -17px;
    top: 15px;
    transition: all 0.4s ease;
    &:hover {
        cursor: pointer;
        background-color: $light-color;
        color: $bg_narbar;
        border: 2px solid $bg_narbar;
        
    }
}


@mixin text($text-color: $bg_narbar, $font-w:$regular, $font-s: $medium){
    padding: 10px 0;
    color: $text-color;
    font-weight: $font-w;
    font-size: $font-s;
}

@mixin headerText($text-color: $bg_narbar, $font-w:$regular, $font-s: $midlarge){
    padding: 10px 0;
    color: $text-color;
    font-weight: $font-w;
    font-size: $font-s;
}

@mixin myBtn(){
    color: $light-color;
    background-color: $bg_narbar;
    border: none;
    transition: all 0.6 ease;
    &:hover{
        color: $bg_narbar;
        background-color: $light-color;
        border: 2px solid $bg_narbar;
    }
}


