@import '../themes/variable';


.navbar_left{
  background-color: $bg_narbar;
  width: $navbar_width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  justify-content: space-between;
  img{
    width: 32px;
    height: 32px;
  }
  .top{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-btn{
    margin-top: 20px;
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
    transition: all 0.4s ease;
    .default-icon{
      line-height: 32px;
      font-size: 20px;
      color: $light-color;
    }

    &:hover{
      cursor: pointer;
      transform: scale(1.5);
    }
    
  }
  .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar{
      width: 32px;
      height: 32px;
      position: relative;
      transition: all 0.4s ease;
      .avatarImg{
        width: 100%;
        border-radius: 50%; 
        transition: all 0.4s ease;
        &:hover{
          cursor: pointer;
          transform: scale(1.2);
        }
      }
      .toolTip{
        position: absolute;
        display: none;
        top:0px;
        right: -120px;
        z-index: 10;
        background-color:  rgba(0, 0, 0, 0.8);;
        // opacity: 0.3;
        height: 32px;
        padding-right: 10px;
        padding-left: 2px;
        color:$light-color;
        line-height: 32px;
        border-radius: 4px;
        p{
          margin: 0;
          height: 100%;
          color: white  ;
        }
        &:before{
          content: "";
          width: 0; 
          height: 0;
          // margin-right: ; 
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 8px solid  rgba(0, 0, 0, 0.8);;
          transform: translateX(-10px) translateY(11px);
        }
      }
      &:hover .toolTip{
        display: flex;
      }
      

    }
    .item-btn{
      margin-top: 50px;
      height: 20px;
      width: 20px;
      border: none;
      background-color: $light-color;
      transition: all 0.4s ease;
      border-radius: 50%; 
      .default-icon{
        line-height: 20px;
        font-size: 16px;
        color: $bg_narbar;
      }
  
      &:hover{
        cursor: pointer;
        transform: scale(1.5);
        
      }
      
    }
    
  }
  
}

.home{
  display: flex;
  
  .slider_bar{
    background-color: $bg_menu_bar;
    .intro-logo{
      // height: 100%;
      // width: 100%;
      // padding: 20px;
      padding-bottom: 0;
      background-color: $bg_menu_bar;
      .logo-left{
        .logo-img{
          margin-right: 10px;
          width: 16px;
          height: 16px;
        }
      }
      .logo-right{
        .title{
          color: title_color;
          font-weight: $regular ;
          font-size: $xsmall;
          margin: 0;
        }
      }
    }
    .menu_bar{
      background-color: $bg_menu_bar;
    }
  }
  
}